<%- partial('_partial/head') %>
<body>
	<a href="#" id="menu-trigger" tabindex="-1" class="fa fa-2x fa-bars"></a>
	<header id="header" class="inner"><%- partial('_partial/header') %></header>
	<div id="content" class="inner">
		<div id="main-col" class="alignleft"><%- body %></div>
		<div class="clearfix"></div>
	</div>
	<footer id="footer" class="inner"><%- partial('_partial/footer') %></footer>
	<%- partial('_partial/after_footer') %>
</body>
</html>