<nav id="cbp-spmenu" class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left">
	<h3>Pages</h3>
	<% for (var i in theme.menu) { %>
		<a href="<%- theme.menu[i] %>"><%= i %></a>
	<% } %>
</nav>
<div class="alignleft">
	<h1><a href="<%- config.root %>"><%= config.title %></a></h1>
	<h2><a href="<%- config.root %>"><% if (config.subtitle){ %><%= config.subtitle %><% } %></a></h2>
</div>
<div class="clearfix"></div>